# Creating Heatmaps for Weather Parameters

In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API_Key.
from config1 import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Bac Lieu,9.2850,105.7244,86.38,66,79,10.20,VN,2022-04-16 03:47:45
1,1,Sobolevo,54.4299,31.8996,35.08,84,100,14.61,RU,2022-04-16 03:47:46
2,2,Busselton,-33.6500,115.3333,72.66,52,65,12.93,AU,2022-04-16 03:47:46
3,3,Vaini,-21.2000,-175.2000,84.36,65,75,8.05,TO,2022-04-16 03:47:47
4,4,Bani Walid,31.7566,13.9942,58.86,79,77,12.75,LY,2022-04-16 03:47:47

In [3]:
# Confirming the data types.
# Gmaps require either an integer or a floating-point decimal number.
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

#  Creating Heatmap for maximum temperature.

In [5]:
# Getting the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# 1. Assigning the locations to an array of latitude and longitude pairs.
locations = city_data_df[['Lat', 'Lng']]

# 2. Assigning the weights variable to some values.
max_temp = city_data_df["Max Temp"]

# 3. Assigning the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 4. Assigning the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, 
                                    weights=[max(temp, 0) for temp in max_temp], 
                                    dissipating=False, 
                                    max_intensity=300, 
                                    point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)

# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Getting Vacation Criteria by inputting the Min and Max temperature value 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filtering the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) & (city_data_df['Max Temp'] >= min_temp)].dropna()

#preferred_cities_df.head()

In [12]:
# Checking any cities for null values
# Dropna() method is used to filter any null values in the statement.
preferred_cities_df.count()

City_ID       146
City          146
Lat           146
Lng           146
Max Temp      146
Humidity      146
Cloudiness    146
Wind Speed    146
Country       146
Date          146
dtype: int64

# Map Vacation Criteria

In [13]:
# Creating DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
0     Bac Lieu      VN     86.38   9.2850  105.7244
3        Vaini      TO     84.36 -21.2000 -175.2000
5   Butaritari      KI     81.81   3.0707  172.7902
8       Avarua      CK     82.45 -21.2078 -159.7750
9      Sambava      MG     77.94 -14.2667   50.1667
14   Bathsheba      BB     79.41  13.2167  -59.5167
19       Kapaa      US     80.58  22.0752 -159.3190
24     Rikitea      PF     77.76 -23.1203 -134.9692
26        Hilo      US     78.28  19.7297 -155.0900
32   Tecoanapa      MX     80.42  16.5167  -98.7500

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [16]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Bac Lieu,VN,86.38,9.2850,105.7244,Khách sạn Sài Gòn Bạc Liêu
3,Vaini,TO,84.36,-21.2000,-175.2000,Keleti Beach Resort
5,Butaritari,KI,81.81,3.0707,172.7902,Isles Sunset Lodge
8,Avarua,CK,82.45,-21.2078,-159.7750,Paradise Inn
9,Sambava,MG,77.94,-14.2667,50.1667,Melrose
14,Bathsheba,BB,79.41,13.2167,-59.5167,Atlantis Hotel
19,Kapaa,US,80.58,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
24,Rikitea,PF,77.76,-23.1203,-134.9692,People ThankYou
26,Hilo,US,78.28,19.7297,-155.0900,Hilo Hawaiian Hotel
32,Tecoanapa,MX,80.42,16.5167,-98.7500,Hotel Manglares

In [17]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [19]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))